<h1>Your Booking</h1>

<%= "#{@booking.flight.departure_airport.code} - #{@booking.flight.arrival_airport.code}"%>
<br>
<%= "#{@booking.flight.start}, #{(@booking.flight.flight_duration.to_f / 60).truncate(1)} hours"%>

<ul>
  <% @booking.passengers.each do |passenger| %>
    <li><%= "#{passenger.name} - #{passenger.email}" %></li>
  <% end %>
</ul>