<h1>Booking</h1>

<%= "#{@booking.flight.departure_airport.code} - #{@booking.flight.arrival_airport.code}"%>

<ul>
  <% @booking.passengers.each do |passenger| %>
    <li><%= "#{passenger.name} - #{passenger.email}" %></li>
  <% end %>
</ul>